@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
    --background-color: #28282B;
    --font-color: white;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--background-color);
    text-align: center;
}

h1 {
    padding: 2rem;
    color: var(--font-color);
}

label {
    text-align: center;
    display: block;
    font-size: large;
    padding: 2rem 0rem;
    color: var(--font-color);
}

input {
    padding: 1rem;
    width: 25%;
    font-size: larger;
    background-color: transparent;
    outline: none;
    border: 1px solid #FDFBF9;
    border-radius: 5px;
}

button {
    display: block;
    margin: 1rem auto;
    font-size: larger;
    font-weight: bold;
    border-radius: 15px;
    width: 11%;
    padding: 0.5rem;
    margin-top: 2rem;
    color: #28282B;
    background-color:#FDFBF9;
}

div {
    font-size: larger;
    padding: 1rem;
}
@media screen and (max-width: 900px) {
    input{
        width: 35%;
    }
    button{
        width: 15%;
    }
}
@media screen and (max-width: 750px) {
    input{
        width: 50%;
    }
    button{
        width: 18%;
    }
}
@media screen and (max-width: 580px) {
    input{
        width: 70%;
    }
    button{
        width: 35%;
    }
}