@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
    --background-color: #28282B;
    --font-color: white;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--background-color);
    text-align: center;
}

h1 {
    padding: 2rem;
    color: var(--font-color);
}

label {
    text-align: center;
    display: block;
    font-size: large;
    padding: 2rem 0rem;
    color: var(--font-color);
}

input {
    padding: 1rem;
    width: 25%;
    font-size: larger;
    background-color: transparent;
    outline: none;
    border: 1px solid #FDFBF9;
    border-radius: 5px;
}

button {
    display: block;
    margin: 1rem auto;
    font-size: larger;
    font-weight: bold;
    border-color: #ffffff;
    color: #ffffff;
    background-color:transparent;
    border-radius: 0.4rem;
    margin-top: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 13px 20px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

div {
    font-size: larger;
    padding: 1rem;
}
@media screen and (max-width: 900px) {
    input{
        width: 35%;
    }
}
@media screen and (max-width: 750px) {
    input{
        width: 50%;
    }
}
@media screen and (max-width: 580px) {
    input{
        width: 70%;
    }
}